@import '~@angular/material/theming';

mat-drawer-container {
    width: 100%;
    height: 100%;

    mat-drawer {
        width: 248px; 
    }

    mat-toolbar {
        @include mat-elevation(2);

        .icon-menu {
            color: white;
            cursor: pointer;
        }

        .icon-logout mat-icon {
            color: white;
        }

        .content-logout {
            text-align: right;
            width: 100%;
        }

        .brand-icon {
            height: 30px;
        }
    }

    .content {
        margin: 17px;
    }
}

mat-icon {

    &:hover {

        cursor: pointer;
    }
}