@import '~@angular/material/theming';
@import 'theme/san-white';


mat-expansion-panel {
    margin-bottom: 17px !important;
    
    mat-expansion-panel-header,
    .mat-expanded {
        background-color: mat-color($san-app-primary);
        transition: all ease 0.3s;

        mat-panel-title,
        ::ng-deep .mat-expansion-indicator:after {
            color: mat-contrast($san-app-primary, 900);
        }

        &:hover {
            background-color: mat-contrast($san-app-primary, 900);

            mat-panel-title,
            ::ng-deep .mat-expansion-indicator:after {
                color: mat-color($san-app-primary);
            }
    
        }
    }

    mat-form-field {
        width: 100%;
        margin: 12px 17px 0px 17px;
    }

    .filter-actions {
        text-align: right;
        
        button {
            margin-right: 17px;
        }

        mat-progress-spinner {
            float: right;
        }
    }
}

.wrapper-actions {
    min-height: 40px;
}

.wrapper-table {
    overflow-y: hidden;
    overflow-x: scroll;
    width: auto;
}

table {
    width: auto;

    .mat-header-cell {
        background-color: mat-color($san-app-primary);
        color: mat-contrast($san-app-primary, 900);
        min-width: 60px;
        padding-left: 12px;
    }

    .mat-table-sticky:nth-child(2) {
        border-right: 1px solid #e0e0e0;
    }

    .mat-row td {
        padding-left: 12px;
        padding-right: 24px;
    }

    tr.mat-row:nth-child(even) td.mat-cell {
        background-color: mat-color($san-app-accent);
    }

    ::ng-deep .mat-sort-header-arrow {
        color: mat-contrast($san-app-primary, 900);
    }

    .actions {
        text-align: right;
    }
}