<mat-card>
  <mat-card-header>
    <mat-card-title class="title">Nueva solicitud</mat-card-title>
  </mat-card-header>

  <form [formGroup]="form" (submit)="submit($event)">
    <mat-card-content>
      <mat-grid-list [cols]="cols" rowHeight="90px" (window:resize)="setCols($event)">
        <mat-grid-tile>
          <mat-form-field class="errorPeticionario">
            <input matInput placeholder="Peticionario" [matAutocomplete]="auto" [formControl]="peticionario" required>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option [value]="'John Doe'" *ngIf="peticionario.value?.length > 2">
                <span>John Doe</span>
              </mat-option>
              <mat-option [value]="'Jane Doe'" *ngIf="peticionario.value?.length > 2">
                <span>Jane Doe</span>
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="peticionario.hasError('required')">
              Campo <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="errorMotivoSolicitud">
            <input matInput placeholder="Motivo de la solicitud" [formControl]="motivosolicitud" required>
            <mat-error *ngIf="motivosolicitud.hasError('required')">
              Campo <strong>obligatorio</strong>
            </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inpuSustitucion">
            <input matInput placeholder="Sustitución de" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inpuSelectServicioSugerido">
            <mat-select placeholder="Servicio sugerido">
              <mat-option></mat-option>
              <mat-option value="valid">Opcion 1</mat-option>
              <mat-option value="invalid">Opción 2</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputProveedor">
            <input matInput placeholder="Proveedor" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputJustificacionServicioSugerido">
            <input matInput placeholder="Justificación servicio sugerido" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputObservaciones">
            <textarea matInput placeholder="Observaciones"></textarea>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="categoriafuncional">
              <mat-select placeholder="Categoria funcional" [formControl]="category"
              required>
                  <mat-option></mat-option>
                  <mat-option value="valid">Opcion 1</mat-option>
                  <mat-option value="invalid">Opción 2</mat-option>
                </mat-select>
                <mat-error *ngIf="category.hasError('required')">
                    Campo <strong>obligatorio</strong>
                </mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputLimiteSupTarifa">
            <input matInput placeholder="Limite sup. tarifa" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputNRecursos">
            <input matInput placeholder="Nº de recursos" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputPerfil">
            <input matInput placeholder="Perfil" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="inputTecnologia">
            <input matInput placeholder="Tecnología" value="">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="FechaInicio">
            <input matInput [matDatepicker]="elegir" placeholder="Fecha prevista de Inicio">
            <mat-datepicker-toggle matSuffix [for]="elegir"></mat-datepicker-toggle>
            <mat-datepicker #elegir></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field class="FechaFin">
            <input matInput [matDatepicker]="elegir2" placeholder="Fecha prevista de Fin">
            <mat-datepicker-toggle matSuffix [for]="elegir2"></mat-datepicker-toggle>
            <mat-datepicker #elegir2></mat-datepicker>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>

    </mat-card-content>


    <mat-card-actions>
      <button mat-stroked-button [disabled]="buttonsDisabled">Cancelar</button>
      <button mat-stroked-button color="primary" [disabled]="buttonsDisabled">Guardar</button>
      <button mat-raised-button color="primary" [disabled]="buttonsDisabled">Enviar</button>
      <mat-progress-spinner *ngIf="buttonsDisabled" mode="indeterminate" diameter="36">
      </mat-progress-spinner>
    </mat-card-actions>
  </form>

</mat-card>
