@import '~@angular/material/theming';
@import 'theme/san-white';

$paddingCard: 17px;

mat-card {
    padding: $paddingCard;

    mat-card-header {
        background-color: mat-color($san-app-primary);
        margin: -$paddingCard;

        .title {
            color: mat-contrast($san-app-primary, 900);
            font-size: 18px !important;
            padding: $paddingCard;
            padding-bottom: 0px;
        }
    }

    mat-card-content {
        margin-top: 22px;
    }
    
    mat-form-field {
        margin: 0px 17px 0px 17px;
        min-width: 200px;
    }

    .mat-card-actions {
        text-align: right;
        margin-left: 6px;
        margin-right: 6px;

        button {
            margin: 0px 12px;
        }

        mat-progress-spinner {
            float: right;
        }
    }
}